<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>home</title>
</head>
<body>
	<button>click to generate a refreshToken</button>

	<script>
		console.log('hello fetch')
/*		const btn = document.getElementsByClassName('button');
		btn.addEventListener('click',() => {
			try {
			const response = await fetch('/api/users/home', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'}
			})

			if(response.status === 401){
				await fetch('/api/users/refreshToken',{
					method: 'POST',
					headers: {'Content-Type': 'application/json'}
				});
			}
		} catch(e) {
			console.log(e);
		}
		});*/
	</script>
</body>
</html>