<form>
    <label for="">name</label>
    <input type="text" name="name" required />
    <label for="">email</label>
    <input type="email" name="email" required />
<!-- <label for="">password</label>
    <input type="text" name="password" required />
-->

    <button type="submit">submit</button>
</form>
    <button type="submit" class="button_refreshToken">login</button>
<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const email = form.email.value;
        // const password = form.password.value;

        try {
            const response = await fetch('/api/users/login', {
                method: 'POST',
                body: JSON.stringify({ email/*,password*/ }),
                headers: { 'Content-Type': 'application/json' }
            })
            const data = await response.json()
            console.log(data)
            if(response.status === 401){
                console.log("developer")
                window.location = 'localhost:5000/api/users/login'
            }
        } catch (e) {
            console.log(e)
        }
})
</script>